# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
venv/
env/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (if you use VSCode)
.vscode/

# PyCharm settings
.idea/

# macOS files
.DS_Store

# Logs
*.log

# Python profiling data
.prof
